<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="de.enflexit.p2.target" sequenceNumber="107">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/releases/2018-12/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="de.enflexit.common.feature.feature.group" version="0.0.0"/>
		<unit id="de.enflexit.common.feature.source.feature.group" version="0.0.0"/>
		<unit id="org.agentgui.feature.feature.group" version="0.0.0"/>
		<unit id="org.agentgui.feature.source.feature.group" version="0.0.0"/>
		<unit id="org.agentgui.samples.feature.feature.group" version="0.0.0"/>
		<unit id="org.agentgui.samples.feature.source.feature.group" version="0.0.0"/>
		<repository location="https://p2.enflex.it/workbench/snapshots/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="de.enflexit.eom.feature.feature.group" version="0.0.0"/>
		<repository location="https://p2.enflex.it/eom/snapshots/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="net.agenthygrid.feature.feature.group" version="0.0.0"/>
		<unit id="net.agenthygrid.feature.source.feature.group" version="0.0.0"/>
		<repository location="https://p2.enflex.it/hygrid/snapshots/"/>
	</location>
</locations>
</target>